@{
    ViewBag.Title = "Open_List1";
    string type = Request.QueryString["typeid"];
    string query = "&appid=" + Request.QueryString["appid"] + "&typeid=" + type;
}
<form method="post">
    @Html.AntiForgeryToken()
    <table cellpadding="0" cellspacing="1" border="0" width="99%" align="center">
        <tr>
            <td align="left" height="35">
                名称：<input type="text" class="mytext" style="width:160px;" id="flow_name" value="" name="flow_name" />
                <input type="button" class="mybutton" onclick="query(null, 1)" value=" 查 询 " />
                <input type="button" class="mybutton" onclick="newflow();" value="新建流程" />
                <input type="button" class="mybutton" onclick="ImportFlow();" value="导入流程" />
            </td>
        </tr>
    </table>
    <table id="listtable"></table>
    <div class="buttondiv"></div>
</form>   
    <script type="text/javascript">
        var curPageSize = '@Request.QueryString["pagesize"]';
        var curPageNumber = '@Request.QueryString["pagenumber"]';
        var appid = '@Request.QueryString["appid"]';
        var iframeid = '@Request.QueryString["iframeid"]';
        var typeid = '@Request.QueryString["typeid"]';
        $(function ()
        {
            $("#listtable").jqGrid({
                url: RoadUI.Core.rooturl() + "/WorkFlowDesigner/Query",
                postData: { "__RequestVerificationToken": $("input[name='__RequestVerificationToken']").val(), appid: appid, typeid: typeid },
                mtype: 'POST',
                datatype: "json",
                colNames: ['流程名称', '创建时间', '创建人', '状态', ''],
                colModel: [
                    { name: 'Name', index: 'Name', width: 310 },
                    { name: 'CreateDate', index: 'CreateDate', width: 110 },
                    { name: 'CreateUserID', index: 'CreateUserID', width: 80 },
                    { name: 'Status', index: 'Status', width: 50 },
                    { name: 'Edit', index: '', sortable: false, width: 110 }
                ],
                sortname: "CreateDate",
                sortorder: "desc",
                height: '100%',
                width: $(window).width(),
                loadComplete: function ()
                {
                    var gridObj = $("#listtable");
                    var records = gridObj.getGridParam("userData");
                    curPageSize = records.pagesize;
                    curPageNumber = records.pagenumber;
                    $(".buttondiv").html(RoadUI.Core.getPager1(records.total, records.pagesize, records.pagenumber, "query"));
                }
            });

        });
        $(window).resize(function ()
        {
            $("#listtable").setGridWidth($(window).width());
        });
        function query(size, number)
        {
            var data = {
                __RequestVerificationToken: $("input[name='__RequestVerificationToken']").val(),
                flow_name: $("#flow_name").val(), appid: appid, typeid: typeid,
                pagesize: size || curPageSize, pagenumber: number || curPageNumber
            };
            $("#listtable").setGridParam({ postData: data }).trigger("reloadGrid");
        }
        function openflow(id, flowName)
        {
            top.openApp("/WorkFlowDesigner/Index?flowid=" + id + "@Html.Raw(query)", 0, "编辑" + flowName + "流程", id);
        }
        function newflow()
        {
            top.openApp("/WorkFlowDesigner/Index?isnewflow=1@(Html.Raw(query))", 0, "新建流程", RoadUI.Core.newid(false));
        }
        function delflow(id)
        {
            if (!confirm('您真的要删除流程吗?'))
            {
                return false;
            }
            var url = "UnInstall?appid=@Request.QueryString["openerid"]&id=" + id + "&type=1";
            $.ajax({
                url: url, async: false, cache: false, success: function (txt)
                {
                    if ("1" == txt)
                    {
                        alert("删除成功!");
                        query();
                    }
                }
            });
        }
        function ExportFlow(flowID)
        {
            var url = "Export?flowid=" + flowID + "@(Html.Raw(query))";
            window.location = url;
        }

        function ImportFlow()
        {
            var url = "/WorkFlowDesigner/Import?1=1@(Html.Raw(query))";
            new RoadUI.Window().open({ title: "导入流程", width: 400, height: 200, url: url, opener: window, openerid: iframeid, resize: false });
        }
    </script>
