@{
    ViewBag.Title = "User";
    string id = Request.QueryString["id"];
    string parentID = Request.QueryString["parentid"];
    string query = "&id=" + Request.QueryString["id"] + "&appid=" + Request.QueryString["appid"]
       + "&parentid=" + Request.QueryString["parentid"] + "&type=" + Request.QueryString["type"];
}
@model RoadFlow.Data.Model.Users
<script type="text/javascript">
    var win = new RoadUI.Window();
    var validate = new RoadUI.Validate();
</script>
<form action="" method="post">
@Html.AntiForgeryToken()
<br />
<table cellpadding="0" cellspacing="1" border="0" width="95%" class="formtable">
    <tr>
        <th style="width:80px;">姓名：</th>
        <td><input type="text" id="Name" name="Name" class="mytext" value="@Model.Name" validate="empty,min,max" max="50" style="width:160px;" /></td>
    </tr>
    <tr>
        <th style="width:80px;">帐号：</th>
        <td><input type="text" id="Account" name="Account" class="mytext" value="@Model.Account" validate="empty,max,ajax" validate_url="CheckAccount?id=@id" max="20" style="width:160px;" /></td>
    </tr>
    <tr>
        <th style="width:80px;">状态：</th>
        <td>@Html.Raw(ViewBag.StatusRadios)</td>
    </tr>
    <tr>
        <th style="width:80px;">性别：</th>
        <td>@Html.Raw(ViewBag.SexRadios)</td>
    </tr>
    <tr>
        <th style="width:80px;">备注：</th>
        <td><textarea id="Note" name="Note" class="mytext" style="width:90%; height:50px;" >@Model.Note</textarea></td>
    </tr>
    <tr>
        <th style="width:80px;">所在组织：</th>
        <td>@Html.Raw(ViewBag.ParentString)</td>
    </tr>
    <tr>
        <th style="width:80px;">所在角色组：</th>
        <td>@Html.Raw(ViewBag.RoleString)</td>
    </tr>
    <tr id="StationMove_tr" style="display:none;">
        <th style="width:80px;">调往组织：</th>
        <td>
        <table cellpadding="0" cellspacing="1" border="0"><tr>
            <td><input type="text" style="width:180px;" title="选择要调往的组织：" class="mymember" id="movetostation" name="movetostation" more="false" user="false" station="true" dept="true" unit="true" />
                <input type="checkbox" name="movetostationjz" id="movetostationjz" style="vertical-align:middle;" value="1" /><label for="movetostationjz" style="vertical-align:middle;">兼任</label>
            </td>
            <td><input type="submit" class="mybutton" name="Move1" onclick="return stationMove1();" value="确定调动" /></td>
        </tr></table>
        </td>
    </tr>
</table>
    <div style="width:95%; margin:8px auto;">
        联系信息(<label style="color:red; font-weight:bold;">与人员微信关联的微信号、手机、邮箱三者之一必须填一个，否则无法使用微信功能</label>)：
    </div>
    <table cellpadding="0" cellspacing="1" border="0" width="95%" class="formtable">
        <tr>
            <th style="width:120px;">办公电话：</th>
            <td><input type="text" id="Tel" name="Tel" class="mytext" value="@Model.Tel" style="width:70%;"/></td>
            <th style="width:120px;">手机：</th>
            <td><input type="text" id="Mobile" name="Mobile" class="mytext" value="@Model.Mobile" style="width:70%;"/></td>
        </tr>
        <tr>
            <th>微信号：</th>
            <td><input type="text" id="WeiXin" name="WeiXin" class="mytext" value="@Model.WeiXin" style="width:70%;"/></td>
            <th>邮箱：</th>
            <td><input type="text" id="Email" name="Email" class="mytext" value="@Model.Email" validate="canempty,email" style="width:70%;"/></td>
        </tr>
        <tr>
            <th>传真：</th>
            <td><input type="text" id="Fax" name="Fax" class="mytext" value="@Model.Fax" style="width:70%;"/></td>
            <th>QQ：</th>
            <td><input type="text" id="QQ" name="QQ" class="mytext" value="@Model.QQ" style="width:70%;"/></td>
        </tr>
        <tr>
            <th>其它联系方式：</th>
            <td colspan="3"><input type="text" id="OtherTel" name="OtherTel" value="@Model.OtherTel" class="mytext" style="width:95%;"/></td>
        </tr>
    </table>
<div style="width:95%; margin:10px auto 10px auto; text-align:center;">
    <input type="button" class="mybutton" value="设置菜单" onclick="setMenu();" />
    <input type="button" class="mybutton" value="查看已分配菜单" onclick="showMenu();" />
    <input type="button" value="调动" class="mybutton" onclick="stationMove();" />
    <input type="button" class="mybutton" value="排序" id="sort" onclick="sort1('@id');" runat="server" />
    <input type="submit" class="mybutton" onclick="return confirm('您真的要初始化密码吗?');" name="InitPass" value="初始密码" />
    
    <input type="submit" class="mybutton" name="Save" onclick="return validate.validateForm(document.forms[0]);" value="保存" />
    <input type="submit" class="mybutton" onclick="return confirm('您真的要删除该用户吗?');" name="DeleteBut" value="删除" />
</div>
</form>
<script type="text/javascript">
    $(function(){
        @Html.Raw(ViewBag.Script)
    });
    function stationMove()
    {
        $('#StationMove_tr').toggle();
    }

    function stationMove1()
    {
        if ($.trim($("#movetostation").val()).length == 0)
        {
            alert("请选择要调往的组织!");
            return false;
        }
        return true;
    }
        
    function sort1()
    {
        window.location = 'SortUsers' + '@Html.Raw(Request.Url.Query)';
    }

    function setMenu()
    {
        var url="SetMenu?prev=@(("User"+Request.Url.Query).UrlEncode())@Html.Raw(query)";
        //top.mainDialog.open({url: url,width:900,height:550,title:"设置菜单",opener:parent});
        window.location=url;
        return false;
    }
    function showMenu()
    {
        var url="ShowMenu?prev=@(("User"+Request.Url.Query).UrlEncode())@Html.Raw(query)";
        //top.mainDialog.open({url: url,width:900,height:550,title:"设置菜单",opener:parent});
        window.location=url;
        return false;
    }
</script>